.filters {
  margin: 0;
  border: none;
  box-shadow: none;

  &-container {
    align-self: flex-start;
    position: sticky;
    top: 0;
    margin-bottom: 16px;
    padding: 16px 16px 20px;
    max-width: $filters-width;
    width: 100%;
    background: $white;
  }

  &-count {
    @include headingLevel_4;
    margin: 0;
    padding: 0 0 16px;
    border-bottom: 1px solid $border;
  }

  &-item {
    &-container {
      padding-bottom: 14px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    & .collapsible-body {
      padding: 12px 0 0;
    }

    & .collapsible {
      &-header {
        @include nav_link;
        display: flex;
        justify-content: space-between;
        padding: 16px 0 0;
        border: none;
        color: $black;
      }

      &-body {
        @include nav_link;
        border: none;

        & [type=checkbox].filled-in+span:not(.lever):after {
          border-radius: 0;
        }

        & [type=checkbox].filled-in:not(:checked)+span:not(.lever):after,
        & [type=radio].with-gap:checked+span:after,
        & [type=radio].with-gap:checked+span:before,
        & [type=radio]:checked+span:after,
        & [type=radio]:not(:checked)+span:after,
        & [type=radio]:not(:checked)+span:before {
          border: 1px solid $controls-bg;
        }

        & [type=checkbox].filled-in:not(:checked)+span:not(.lever):after {
          border-radius: 0;
        }

        & [type=checkbox].filled-in:checked+span:not(.lever):after,
        & [type=checkbox].filled-in:not(:checked)+span:not(.lever):after {
          width: 16px;
          height: 16px;
        }

        & [type=checkbox].filled-in:checked+span:not(.lever):before {
          top: -1px;
          width: 6px;
          height: 10px;
          border-width: 1px;
          transform: rotateZ(45deg);
        }

        & [type=checkbox].filled-in:checked+span:not(.lever):after,
        & [type=radio].with-gap:checked+span:after,
        & [type=radio]:checked+span:after {
          background: $controls-bg;
        }

        & [type=checkbox]+span:not(.lever),
        & [type=radio]:checked+span,
        & [type=radio]:not(:checked)+span {
          display: flex;
          align-items: center;
          padding: 0 0 0 24px;
          height: 16px;
          color: $default-text;
        }

        & [type=radio]+span:after,
        & [type=radio]+span:before {
          margin: 0;
        }

        & [type=radio].with-gap:checked+span:after {
          transform: scale(0.625);
        }
      }
    }

    & .arrow {
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
      background: url("../img/icons/dropdown.svg") center no-repeat;
      transition: 0.3s;
    }


    &.active {
      & .arrow {
        transform: rotate(180deg);
      }
    }
  }

  &-price {
    &-container {
      display: flex;
      justify-content: space-between;
      margin: 0;

      &-item {
        @include nav_link;
        flex: 0 0 calc(50% - 16px);
        width: calc(50% - 16px);
        color: $disabled-text;
      }
    }
  }

  &-search {
    @include nav_link;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: $inputs-height;
    border-radius: 0;
  }
}
