/* Colors RKTN */
$link-hover: #56CCF2;
$link: #2F80ED;
$visited-link: #9b51e0;
$black: #333;
$white: #FFF;
$default-text: #4F4F4F;
$disabled-text: #828282;
$border: #BDBDBD;
$body-bg: #D9D9D9;
$controls-bg: #2D9CDB;

$btn-primary: #56CCF2;
$btn-success: #27AE60;
$btn-error: #EB5757;
$btn-warning: #F2994A;
$btn-default: #828282;
$btn-dark: #333;
$btn-label: #C4C4C4;
